MHZ19B_node-RED.json
[{"id":"ca5ce06e.2b08e","type":"mqtt in","z":"96c378cb.4066d","name":"","topic":"yourname/sensors/co2/mhz19","qos":"2","datatype":"auto","broker":"85fbf41.7ca0008","x":410,"y":240,"wires":[["ad7aff0a.482b78","47cb4e48.1fb868","71970d6d.1a13ec","c324f2d7.5ca2f8"]]},{"id":"380ecf0b.26508","type":"debug","z":"96c378cb.4066d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":240,"wires":[]},{"id":"ad7aff0a.482b78","type":"ui_chart","z":"96c378cb.4066d","name":"","group":"8e1e4f32.d85e5","order":21,"width":12,"height":9,"label":"CO2 Level","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"CO2 level","dot":false,"ymin":"350","ymax":"5000","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#5fad47","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":240,"wires":[["380ecf0b.26508"]]},{"id":"47cb4e48.1fb868","type":"ui_gauge","z":"96c378cb.4066d","name":"","group":"8e1e4f32.d85e5","order":2,"width":6,"height":5,"gtype":"gage","title":"CO2 Level in parts pro million","label":"ppm","format":"{{value}}","min":"350","max":"5000","colors":["#006f00","#e6e600","#ca3838"],"seg1":"1000","seg2":"2500","x":770,"y":160,"wires":[]},{"id":"575701ea.a2e538","type":"ui_button","z":"96c378cb.4066d","name":"","group":"8e1e4f32.d85e5","order":17,"width":2,"height":1,"passthru":true,"label":"> 2500","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hey smart ass!  Get out now!  I SAID GET OUT NOW!!  Carbon dioxide level is much too high!  ","payloadType":"str","topic":"","x":780,"y":600,"wires":[["44393fd9.0326e","d9bf7e6e.d9358"]]},{"id":"44393fd9.0326e","type":"ui_audio","z":"96c378cb.4066d","name":"Voice","group":"8e1e4f32.d85e5","voice":"en-GB","always":"","x":990,"y":680,"wires":[]},{"id":"c324f2d7.5ca2f8","type":"switch","z":"96c378cb.4066d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"350","vt":"num","v2":"450","v2t":"num"},{"t":"btwn","v":"450","vt":"num","v2":"700","v2t":"num"},{"t":"btwn","v":"700","vt":"num","v2":"1000","v2t":"num"},{"t":"btwn","v":"1000","vt":"num","v2":"2500","v2t":"num"},{"t":"btwn","v":"2500","vt":"num","v2":"5000","v2t":"num"}],"checkall":"true","repair":false,"outputs":5,"x":450,"y":520,"wires":[["92e3d5ee.c62e8"],["9ed0cd85.07004"],["4c263be0.29a2a4"],["1f9e44b0.a1179b"],["e843907e.269ad"]]},{"id":"71970d6d.1a13ec","type":"debug","z":"96c378cb.4066d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":300,"wires":[]},{"id":"a61d5389.0eb468","type":"ui_button","z":"96c378cb.4066d","name":"","group":"8e1e4f32.d85e5","order":16,"width":2,"height":1,"passthru":true,"label":"1000-2500","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hey guys, are you already getting sleepy?  Carbon dioxide level is now between 1000 and 2500. Be smart and leave this room.","payloadType":"str","topic":"","x":790,"y":560,"wires":[["d67bbd12.28c358","3ac30dfa.6dbfda"]]},{"id":"d67bbd12.28c358","type":"ui_audio","z":"96c378cb.4066d","name":"Voice","group":"8e1e4f32.d85e5","voice":"en-IN","always":"","x":990,"y":600,"wires":[]},{"id":"f889ad72.28be1","type":"ui_button","z":"96c378cb.4066d","name":"","group":"8e1e4f32.d85e5","order":15,"width":2,"height":1,"passthru":true,"label":"700-1000","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Alright!, pay attention!  you'd better open a door or a window, cause carbon dioxide level comes close to the unhealthy level of 1000 parts pro million","payloadType":"str","topic":"","x":780,"y":520,"wires":[["a6beef34.ac2fc","6f71e9f2.32314"]]},{"id":"a6beef34.ac2fc","type":"ui_audio","z":"96c378cb.4066d","name":"Voice","group":"8e1e4f32.d85e5","voice":"en-GB","always":"","x":990,"y":520,"wires":[]},{"id":"8465b3fd.672ca8","type":"ui_button","z":"96c378cb.4066d","name":"","group":"8e1e4f32.d85e5","order":14,"width":2,"height":1,"passthru":true,"label":"450-700","tooltip":"","color":"","bgcolor":"","icon":"","payload":"For your info,  carbon dioxide level  is now on a normal level between 450 and 700 parts pro million.","payloadType":"str","topic":"","x":780,"y":480,"wires":[["58f1238c.14b8ac","9f1086cd.5abef"]]},{"id":"58f1238c.14b8ac","type":"ui_audio","z":"96c378cb.4066d","name":"Voice","group":"8e1e4f32.d85e5","voice":"en-US","always":"","x":990,"y":440,"wires":[]},{"id":"d55502c4.aa3d9","type":"ui_button","z":"96c378cb.4066d","name":"","group":"8e1e4f32.d85e5","order":13,"width":2,"height":1,"passthru":true,"label":"350-450","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Great!   carbondioxide level is now between: 350 and 450 parts pro million.  There is enough of fresh air in this room","payloadType":"str","topic":"","x":780,"y":440,"wires":[["568434f1.afee84","b829c3c.7a880c"]]},{"id":"568434f1.afee84","type":"ui_audio","z":"96c378cb.4066d","name":"Voice","group":"8e1e4f32.d85e5","voice":"en-IN","always":"","x":990,"y":360,"wires":[]},{"id":"92e3d5ee.c62e8","type":"rbe","z":"96c378cb.4066d","name":"","func":"deadbandEq","gap":"400","start":"","inout":"out","property":"payload","x":620,"y":440,"wires":[["d55502c4.aa3d9"]]},{"id":"9ed0cd85.07004","type":"rbe","z":"96c378cb.4066d","name":"","func":"deadbandEq","gap":"575","start":"","inout":"out","property":"payload","x":620,"y":480,"wires":[["8465b3fd.672ca8"]]},{"id":"4c263be0.29a2a4","type":"rbe","z":"96c378cb.4066d","name":"","func":"deadbandEq","gap":"850","start":"","inout":"out","property":"payload","x":620,"y":520,"wires":[["f889ad72.28be1"]]},{"id":"1f9e44b0.a1179b","type":"rbe","z":"96c378cb.4066d","name":"","func":"deadbandEq","gap":"25%","start":"","inout":"out","property":"payload","x":620,"y":560,"wires":[["a61d5389.0eb468"]]},{"id":"e843907e.269ad","type":"rbe","z":"96c378cb.4066d","name":"","func":"deadbandEq","gap":"25%","start":"","inout":"out","property":"payload","x":620,"y":600,"wires":[["575701ea.a2e538"]]},{"id":"6f71e9f2.32314","type":"debug","z":"96c378cb.4066d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":560,"wires":[]},{"id":"3ac30dfa.6dbfda","type":"debug","z":"96c378cb.4066d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":640,"wires":[]},{"id":"d9bf7e6e.d9358","type":"debug","z":"96c378cb.4066d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":720,"wires":[]},{"id":"9f1086cd.5abef","type":"debug","z":"96c378cb.4066d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":480,"wires":[]},{"id":"b829c3c.7a880c","type":"debug","z":"96c378cb.4066d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":400,"wires":[]},{"id":"a578e4fa.86c57","type":"comment","z":"96c378cb.4066d","name":"MQTT Subscribe","info":"","x":360,"y":200,"wires":[]},{"id":"cfcd043f.4ee6d","type":"comment","z":"96c378cb.4066d","name":"Gauge for node-RED dashboard","info":"","x":770,"y":120,"wires":[]},{"id":"41546989.3ab948","type":"comment","z":"96c378cb.4066d","name":"Graph for node-RED dashboard","info":"","x":770,"y":200,"wires":[]},{"id":"9135f603.1a8f38","type":"comment","z":"96c378cb.4066d","name":"RBE nodes","info":"","x":610,"y":400,"wires":[]},{"id":"2918b552.c1c24a","type":"comment","z":"96c378cb.4066d","name":"Switch, routes messages","info":"","x":390,"y":440,"wires":[]},{"id":"32b1bfba.8ae5f","type":"comment","z":"96c378cb.4066d","name":"Dashboard buttons","info":"","x":790,"y":400,"wires":[]},{"id":"b741f98c.e3171","type":"comment","z":"96c378cb.4066d","name":"Audio out nodes","info":"","x":1020,"y":320,"wires":[]},{"id":"85fbf41.7ca0008","type":"mqtt-broker","z":"","name":"MHZ-19B","broker":"broker.hivemq.com","port":"1883","clientid":"      // Create a random client ID","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8e1e4f32.d85e5","type":"ui_group","z":"","name":"MHZ-19B","tab":"b5028d28.3c1a88","order":3,"disp":true,"width":14,"collapse":false},{"id":"b5028d28.3c1a88","type":"ui_tab","z":"","name":"CO2","icon":"dashboard","disabled":false,"hidden":false}]