MHZ19B_node-RED.json
[{"id":"ece4ffc2.b7b78","type":"mqtt in","z":"fd3d51cd.ddc508","name":"","topic":"yourname/sensors/co2","qos":"2","datatype":"auto","broker":"85fbf41.7ca0008","x":280,"y":280,"wires":[["18cc0191.244ab6","1f8d705c.28b0b","57e56665.754998","c181dc0b.1e9de8"]]},{"id":"27d7295c.b31256","type":"debug","z":"fd3d51cd.ddc508","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":280,"wires":[]},{"id":"18cc0191.244ab6","type":"ui_chart","z":"fd3d51cd.ddc508","name":"","group":"8e1e4f32.d85e5","order":21,"width":12,"height":9,"label":"CO2 Level","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"CO2 level","dot":false,"ymin":"350","ymax":"5000","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#5fad47","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":280,"wires":[["27d7295c.b31256"]]},{"id":"1f8d705c.28b0b","type":"ui_gauge","z":"fd3d51cd.ddc508","name":"","group":"8e1e4f32.d85e5","order":2,"width":6,"height":5,"gtype":"gage","title":"CO2 Level in parts pro million","label":"ppm","format":"{{value}}","min":"350","max":"5000","colors":["#006f00","#e6e600","#ca3838"],"seg1":"1000","seg2":"2500","x":670,"y":200,"wires":[]},{"id":"fe34c620.2ed508","type":"ui_button","z":"fd3d51cd.ddc508","name":"","group":"8e1e4f32.d85e5","order":17,"width":2,"height":1,"passthru":true,"label":"> 2500","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hey smart ass!  Get out now!  I SAID GET OUT NOW!!  Carbon dioxide level is much too high!  ","payloadType":"str","topic":"","x":680,"y":640,"wires":[["b154028d.508d68","fea5da2c.280bb8"]]},{"id":"b154028d.508d68","type":"ui_audio","z":"fd3d51cd.ddc508","name":"Voice","group":"8e1e4f32.d85e5","voice":"en-GB","always":"","x":890,"y":720,"wires":[]},{"id":"c181dc0b.1e9de8","type":"switch","z":"fd3d51cd.ddc508","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"350","vt":"num","v2":"450","v2t":"num"},{"t":"btwn","v":"450","vt":"num","v2":"700","v2t":"num"},{"t":"btwn","v":"700","vt":"num","v2":"1000","v2t":"num"},{"t":"btwn","v":"1000","vt":"num","v2":"2500","v2t":"num"},{"t":"btwn","v":"2500","vt":"num","v2":"5000","v2t":"num"}],"checkall":"true","repair":false,"outputs":5,"x":350,"y":560,"wires":[["f773aa4c.9deca8"],["1b34339c.b46654"],["49bb9ba4.4634c4"],["f08900db.b5c658"],["b6878cea.a7c4a8"]]},{"id":"57e56665.754998","type":"debug","z":"fd3d51cd.ddc508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":340,"wires":[]},{"id":"9b889a55.11a798","type":"ui_button","z":"fd3d51cd.ddc508","name":"","group":"8e1e4f32.d85e5","order":16,"width":2,"height":1,"passthru":true,"label":"1000-2500","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hey guys, are you already getting sleepy?  Carbon dioxide level is now between 1000 and 2500. Be smart and leave this room.","payloadType":"str","topic":"","x":690,"y":600,"wires":[["f6606e77.102fe8","f67466fa.2935b8"]]},{"id":"f6606e77.102fe8","type":"ui_audio","z":"fd3d51cd.ddc508","name":"Voice","group":"8e1e4f32.d85e5","voice":"en-IN","always":"","x":890,"y":640,"wires":[]},{"id":"10d26311.838b75","type":"ui_button","z":"fd3d51cd.ddc508","name":"","group":"8e1e4f32.d85e5","order":15,"width":2,"height":1,"passthru":true,"label":"700-1000","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Alright!, pay attention!  you'd better open a door or a window, cause carbon dioxide level comes close to the unhealthy level of 1000 parts pro million","payloadType":"str","topic":"","x":680,"y":560,"wires":[["5c75d1b9.52cdb","3aa1af7b.4e0328"]]},{"id":"5c75d1b9.52cdb","type":"ui_audio","z":"fd3d51cd.ddc508","name":"Voice","group":"8e1e4f32.d85e5","voice":"en-GB","always":"","x":890,"y":560,"wires":[]},{"id":"d53999c2.d426d","type":"ui_button","z":"fd3d51cd.ddc508","name":"","group":"8e1e4f32.d85e5","order":14,"width":2,"height":1,"passthru":true,"label":"450-700","tooltip":"","color":"","bgcolor":"","icon":"","payload":"For your info,  carbon dioxide level  is now on a normal level between 450 and 700 parts pro million.","payloadType":"str","topic":"","x":680,"y":520,"wires":[["683c84a.7d01c7c","8bfd2b9c.d28b9"]]},{"id":"683c84a.7d01c7c","type":"ui_audio","z":"fd3d51cd.ddc508","name":"Voice","group":"8e1e4f32.d85e5","voice":"en-US","always":"","x":890,"y":480,"wires":[]},{"id":"5196ca84.ab67dc","type":"ui_button","z":"fd3d51cd.ddc508","name":"","group":"8e1e4f32.d85e5","order":13,"width":2,"height":1,"passthru":true,"label":"350-450","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Great!   carbondioxide level is now between: 350 and 450 parts pro million.  There is enough of fresh air in this room","payloadType":"str","topic":"","x":680,"y":480,"wires":[["89c8ad6d.20b398","6026b178.9b29c"]]},{"id":"89c8ad6d.20b398","type":"ui_audio","z":"fd3d51cd.ddc508","name":"Voice","group":"8e1e4f32.d85e5","voice":"en-IN","always":"","x":890,"y":400,"wires":[]},{"id":"f773aa4c.9deca8","type":"rbe","z":"fd3d51cd.ddc508","name":"","func":"deadbandEq","gap":"400","start":"","inout":"out","property":"payload","x":520,"y":480,"wires":[["5196ca84.ab67dc"]]},{"id":"1b34339c.b46654","type":"rbe","z":"fd3d51cd.ddc508","name":"","func":"deadbandEq","gap":"575","start":"","inout":"out","property":"payload","x":520,"y":520,"wires":[["d53999c2.d426d"]]},{"id":"49bb9ba4.4634c4","type":"rbe","z":"fd3d51cd.ddc508","name":"","func":"deadbandEq","gap":"850","start":"","inout":"out","property":"payload","x":520,"y":560,"wires":[["10d26311.838b75"]]},{"id":"f08900db.b5c658","type":"rbe","z":"fd3d51cd.ddc508","name":"","func":"deadbandEq","gap":"25%","start":"","inout":"out","property":"payload","x":520,"y":600,"wires":[["9b889a55.11a798"]]},{"id":"b6878cea.a7c4a8","type":"rbe","z":"fd3d51cd.ddc508","name":"","func":"deadbandEq","gap":"25%","start":"","inout":"out","property":"payload","x":520,"y":640,"wires":[["fe34c620.2ed508"]]},{"id":"3aa1af7b.4e0328","type":"debug","z":"fd3d51cd.ddc508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":600,"wires":[]},{"id":"f67466fa.2935b8","type":"debug","z":"fd3d51cd.ddc508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":680,"wires":[]},{"id":"fea5da2c.280bb8","type":"debug","z":"fd3d51cd.ddc508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":760,"wires":[]},{"id":"8bfd2b9c.d28b9","type":"debug","z":"fd3d51cd.ddc508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":520,"wires":[]},{"id":"6026b178.9b29c","type":"debug","z":"fd3d51cd.ddc508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":440,"wires":[]},{"id":"c7bf096e.41a1d","type":"comment","z":"fd3d51cd.ddc508","name":"MQTT Subscribe","info":"","x":260,"y":240,"wires":[]},{"id":"2b42e1de.e6ac5e","type":"comment","z":"fd3d51cd.ddc508","name":"Gauge for node-RED dashboard","info":"","x":670,"y":160,"wires":[]},{"id":"fc4f6c3c.da28f","type":"comment","z":"fd3d51cd.ddc508","name":"Graph for node-RED dashboard","info":"","x":670,"y":240,"wires":[]},{"id":"116694a.c3961eb","type":"comment","z":"fd3d51cd.ddc508","name":"RBE nodes","info":"","x":510,"y":440,"wires":[]},{"id":"e33a1957.ad8ac","type":"comment","z":"fd3d51cd.ddc508","name":"Switch, routes messages","info":"","x":290,"y":480,"wires":[]},{"id":"8c5a8067.81c29","type":"comment","z":"fd3d51cd.ddc508","name":"Dashboard buttons","info":"","x":690,"y":440,"wires":[]},{"id":"1699c7e2.7dba","type":"comment","z":"fd3d51cd.ddc508","name":"Audio out nodes","info":"","x":920,"y":360,"wires":[]},{"id":"85fbf41.7ca0008","type":"mqtt-broker","z":"","name":"MHZ-19B","broker":"localhost","port":"1883","clientid":"      // Create a random client ID","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8e1e4f32.d85e5","type":"ui_group","z":"","name":"MHZ-19B","tab":"b5028d28.3c1a88","order":3,"disp":true,"width":14,"collapse":false},{"id":"b5028d28.3c1a88","type":"ui_tab","z":"","name":"CO2","icon":"dashboard","disabled":false,"hidden":false}]